body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #465B6D;
    color: #FFFFFF;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #8CC084;
}

section {
    margin: 40px 0;
}

section h2 {
    color: #465B6D;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #465B6D;
    border-radius: 5px;
}

button {
    background-color: #465B6D;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8CC084;
}

footer {
    background-color: #465B6D;
    color: #FFFFFF;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links a {
    margin-right: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

#inici img {
    max-width: 100%; 
    height: auto;
    margin: 0 auto; 
    display: block; 
    margin-bottom: 20px;
}

#habilitats {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.habilitat {
    margin-bottom: 15px;
}

.habilitat-nom {
    display: inline-block;
    width: 100px; 
}

.barra-percentatge {
    height: 20px;
    background-color: #3498db;
}

#wireframes {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.imatges-wireframes img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.imatgecentrada{
    display: flex;
    justify-content: space-around;
}